<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <table>
            <tr>
                <td>id</td>
                <td th:text="${ps.id}"></td>
            </tr>
            <tr>
                <td>姓名</td>
                <td><input type="text" th:value="${ps.name}"></td>
            </tr>
            <tr>
                <td>性别</td>
                <td><select th:value="${ps.sex}">
                    <option value="男">男</option>
                    <option value="女">女</option>
                </select></td>
            </tr>
            <tr>
                <td>年龄</td>
                <td><input type="text" th:value="${ps.age}"></td>
            </tr>

        </table>
    </form>

</body>
</html>